<BODY>
<H1>ALL CAPS!</H1>
<BR>
<P>TO LEARN MORE ABOUT THIS EXTENSION, GO TO <A HREF="HTTP://GETCAPS.XYZ">GETCAPS.XYZ</A>.</P>
<P>TO DISABLE THIS CHROME EXTENSION, RIGHT CLICK THE EXTENSION ICON AND CLICK "REMOVE FROM CHROME". IN THE FUTURE WE WILL BE ADDING A WAY TO DISABLE TEMPORARILY OR PER WEBPAGE.</P>
<BR>
<BR>
<BR>
<BR>
<P>YES. THIS IS A JOKE :)</P>
</BODY>
